body {
	background-color: #212121;
    align-items: center;
    width:100vw;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

h1{
	/* padding: 10px; */
	color: #ffffff;
    font-size: 40px;
	font-family: "Inter";
	text-transform: capitalize;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 5px;
}

h2{
	color: #ffffff;
    font-size: 30px;
	font-family: "Inter";
	text-transform: capitalize;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 30px;
}

h6{
    color: #ffffff;
    font-size: 25px;
	font-family: "Inter";
	text-transform: capitalize;
    font-weight: normal;
    margin-top: 50px;
    margin-bottom: 10px;
}

p{
	/* padding: 10px; */
	color: #ffffff;
    font-size: 20px;
	font-family: "Inter";
    font-weight: normal;
}

ul, li{
	color: #ffffff;
    font-size: 20px;
	font-family: "Inter";
    font-weight: normal;
    margin: 20px;
}

#prompt{
    /* padding: 10px; */
	color: #ffffff;
	font-family: sans-serif;
	text-transform: capitalize;
}

.absolutebackground {
    height:100vh;
    background-color: black;
    opacity: .7;
    position: fixed;
    top: 0;
    width:100vw;
    pointer-events: none;
}

.navbar {
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #4CC8FF;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
    z-index: 30;
  }
  
  .navbar #logo{
    display: block;
    float: left;
    padding: 14px 16px;
    height: 48px;
    width: 86px;
  }

  .navbar form {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    /* padding: 14px 16px; */
    padding-top: 22px;
    text-decoration: none;
  }

.main{
    margin-top: 50px;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    z-index: 10;
    position: absolute;
}

#search_bar{
    width: 194.567px;
    height: 26.766px;
    background-color: black;
    color: rgba(255, 255, 255, 0.285);
    border-radius: 27.192px;
    border: 3.199px solid #4CC8FF;
    /* padding-top: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    transition: all .5s ease;
    z-index: 20;
}

#search_bar:hover{
    color: white;
    border-radius: 5px;
}

#search_bar:focus{
    color: white;
    border-radius: 5px;
}

#help{
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    margin-left: auto; 
    padding-right: 20px;
    padding-top: 14px;
    transition: all .5s ease;
    opacity: .5;
    color: #aeaeae;
    }

#help:hover{
    opacity: 1;
    color: #ffffff;
}

.refresh_button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.refresh_button img{
    width: 40px;
    height: 40px;
}