body {
	background-color: #212121;
    align-items: center;
    width:100vw;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.main{
    margin-top: 50px;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    z-index: 10;
    height: 80vh;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
	/* padding: 10px; */
	color: #ffffff;
    font-size: 68px;
    margin: 0px;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center; 
    justify-content: center;
	font-family: sans-serif;
    font-weight: bolder;
	text-transform: capitalize;
    text-shadow: 0px 18px 11.5px #00000015;
}

h2{
    color: #ffffff;
    display: flex;
    font-size: 45px;
    margin: 10px;
    width: 100%;
    text-align: center;
    align-items: center; 
    justify-content: center;
	font-family: sans-serif;
    font-weight: lighter;
	text-transform: capitalize;
    text-shadow: 0px 18px 11.5px #00000015;
}

p{
	/* padding: 10px; */
	color: #ffffff;
	font-family: sans-serif;
	text-transform: capitalize;
}

#prompt{
    /* padding: 10px; */
	color: #ffffff;
	font-family: sans-serif;
	text-transform: capitalize;
}

.navbar {
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #4CC8FF;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
  }
  
  .navbar #logo{
    display: block;
    float: left;
    padding: 14px 16px;
    height: 48px;
    width: 86px;
  }

  .navbar form {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    /* padding: 14px 16px; */
    padding-top: 20px;
    text-decoration: none;
  }

#search_bar{
    width: 194.567px;
    height: 26.766px;
    background-color: black;
    color: rgba(255, 255, 255, 0.285);
    border-radius: 27.192px;
    border: 3.199px solid #4CC8FF50;
    /* padding-top: 20px; */
    padding-left: 20px;
    transition: all .5s ease;
}

#search_bar:hover{
    color: white;
    border-radius: 5px;
    border: 3.199px solid #4CC8FF;
}

#search_bar:focus{
    color: white;
    border-radius: 5px;
    border: 3.199px solid #4CC8FF;
}

#help{
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    margin-left: auto; 
    padding-right: 20px;
    padding-top: 14px;
    transition: all .5s ease;
    opacity: .5;
    color: #aeaeae;
    }

#help:hover{
    opacity: 1;
    color: #ffffff;
}

#large_search{
    margin-top: 30px;
    width: 500px;
    height: 50px;
    font-size: 25px;
    background-color: black;
    color: rgba(255, 255, 255, 0.285);
    border-radius: 50px;
    border: 5px solid #4CC8FF;
    /* padding-top: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    transition: all .5s ease;
}

#large_search:hover{
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

#large_search:hover{
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}