<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<title>Game Database</title>
</head>
<body style="background-image: url({{background_image}});
		background-size: 1920px 1080px; 
		background-repeat: no-repeat; 
		background-position: center center; 
		background-attachment: fixed;">

	<div class="navbar">
		<a href="/"> <img id="logo" src="static/logo.png" alt="Project Logo & Home Button"> </a>
		<form method="POST" action="/">
			<!-- <label id="prompt">Question:</label> -->
			<input id="search_bar" name=req_question type="text" value={{question}}><br><br>
			<!-- <input type="submit" value="Submit!"><br><br> -->
		</form>
		<a href="/"> <img id="help" src="static/help_icon.png" alt="Help Screen Icon"> </a>
	  </div>
	
	<div class="main">
		<h1>GAME ORACLE</h1>
		<h2>SEARCH ABOUT A GAME</h2>
		<form method="POST" action="/">
			<div class="search_container">
				<input id="large_search" name=req_question type="text" value="Ask me about a game..."><br><br>
				<img src="static/search_icon.png" class="search_icon" alt="Search Icon">
			</div>
		</form>
	</div>
</body>
</html> 