<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<title>Game Database</title>
</head>
<body style="background-image: url({{background_image}})">
	<div class="absolutebackground"></div>

	<div class="navbar">
		<img id="logo" src="static/logo.png">
		<form method="POST">
			<!-- <label id="prompt">Question:</label> -->
			<input id="search_bar" name=req_question type="text" value={{question}}><br><br>
			<!-- <input type="submit" value="Submit!"><br><br> -->
		</form>
	  </div>
	
	<div class="main">
		<h1>{{game}}</h1>
		<p>{{chatbot_response}}</p>
	</div>
</body>
</html>