<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/css/style_search.css">
	<title>Search Page</title>
</head>
<body style="background-image: url({{background_image}});
		background-size: 1920px 1080px; 
		background-repeat: no-repeat; 
		background-position: center center; 
		background-attachment: fixed;">
	{% if show_absolute_background %}
		<div class="absolutebackground"></div>
	{% endif %}

	<div class="navbar">
		<a href="/"> <img id="logo" src="static/logo.png" alt="Project Logo & Home Button"> </a>
		<form method="POST" action="/">
			<input id="search_bar" name=req_question type="text" value={{question}}><br><br>
		</form>
		<a href="/"> <img id="help" src="static/help_icon.png" alt="Help Screen Icon"> </a>
	  </div>
	
	<div class="main">
		<h1>{{game}}</h1>
		<h2>By {{developer}}</h2>
		<p>{{chatbot_response}}</p>
	</div>
</body>
</html> 